@import "./normalize.css";

.el-breadcrumb {
  margin-bottom: 20px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-menu {
  height: 300px;
}

.el-step__title {
  font-size: 14px !important;
}